<div>
  <form [formGroup]="form" (ngSubmit)="add()">
  <input type="text" formControlName="name" />
  <input type="number" formControlName="age" />

  <button type="submit">Ajouter</button>
</form>


  <div *ngFor="let cat of cats" (click)="selectCat(cat)">
    <span>{{cat.name}}</span> : <span>{{cat.age}}</span>
  </div>

  <div *ngIf="catSelected">
    <form [formGroup]="form" (ngSubmit)="update()">
      <input type="text" formControlName="name" [value]="catSelected.name"/>
      <input type="hidden" formControlName="id" [value]="catSelected.id"/>
      <input type="number" formControlName="age" [value]="catSelected.age"/>

      <button type="button" routerLink="/cat-test/{{catSelected.id}}">Mettre à jour</button>
    </form>

    <button type="button" (click)="delete()">DELETE</button>
  </div>
</div>
